
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Mochiy Pop One", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-blue:#CBEAFB;
  --blue:#1B4362;
  --dark-blue:#122C4A;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--blue);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10%;
  background-color: var(--dark-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  height: 4em;
  margin: 1em;
  font-family: inherit;
}
button:hover {
  border-color: var(--dark-blue);
}

/*light mode*/
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  
}

.container{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.container div{
  border-radius: 1em;
}
p, h1{
  padding: 1.5em;
}
p{
  font-size: small;
  line-height: 2.2em;
}
.headline-mobile{
  display: none;
}
.headline-pc{
  background-color: var(--blue);
  
}
.headline-pc img{
  height: 5em;
  position: absolute;
  right: -1em;
  top: -1.5em;
}

.he1{
  position: relative;
  color: white;
  padding-inline: 3em;
  border-radius: 1em;
}

.he1 img{
  height: 5em;
  position: absolute;
  right: -1em;
  top: -1.5em;
}

.section1, .section2{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: relative;
}


.s11, .s22{
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.s12 {
  background-color: var(--dark-blue);
  color: white;
}
.s13, .s23{
  background-color: var(--blue);
  color: white;
  padding: 0 0 2em;
}

.s21{
  background-color: var(--dark-blue);
}
.s21 div{
  display: flex;
  align-items: center;
}
.s21 p{
  font-size: x-small;
}
.section2 .conts223{
  display: flex;
  gap: 1em;
}


.cat1{
  height: 8em;
  z-index: 2;
  position: absolute;
  top: 20em;
  right: -2em;
}
.cat2{
  position: absolute;
  left: -1em;
  bottom: -1em;
  height: 8em;
}
.cat3{
  position: absolute;
  left: -3em;
  bottom: 11em;
  height: 8em;
  z-index: 1;
}
.lImg{
  margin: -2.5em 0em -2.5em;
  height: 10em;
  width: 70%;
  z-index: 1;
  border-radius: 1em;
}
.lImg1{
  height: 20em;
  z-index: 1;
  border-radius: 1em;
  margin-left: 1em;
}
/*dark mode */
@media (prefers-color-scheme: dark) {

}
/*large phone size*/
@media (max-width: 480px){
  p{
    font-size: medium !important;
    line-height: normal;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  
  p, h1{
    padding: 0.5em 0.5em;
  }
  .headline-mobile{
    display: flex;
    background-color:var(--blue);
  }
  .headline-pc{
    display: none;
  }

  .he1 img{
  height: 5.5em;
  top: -1em;
  } 

  .section1{
    display: flex;
    gap: 0.8em;
  }
.lImg{
  height: 15em;
  margin: -1.8em 0em -1.8em;
}
.lImg1{
  width: 80%;
}
.cat3{
  bottom: 13em;
}

.section2 .conts223, .s21 div{
  display: inline;
}

}

/*large phone size*/
@media (min-width: 481px) and (max-width:768px) {
    .headline-mobile{
    display: flex;
  }
}
/*tablet size*/
@media (min-width: 769px) and (max-width:1279px) {

}
